<div class="signup-container">
  <form class="signup-form">
    <h3 class="form-header">knBlock</h3>
    <mat-form-field >
      <mat-label>New Password</mat-label>
      <input [formControl]="password" formControlName="password"  matInput type="password" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Confirm New Password</mat-label>
      <input [formControl]="confirmPassword" matInput type="password" required>
    </mat-form-field>
    <button mat-flat-button
            type="button"
            (click)="handleChangePassword()" color="primary"
            [disabled]="!password"
    >Change Password </button>
    <a routerLinkActive="mat-primary" mat-button routerLink="/login">Already have account? Log in</a>
  </form>
</div>
