.spacer {
  flex: 1 0 auto;
}

a {
  margin: 0 10px;

  &.active {
    filter: brightness(120%);
  }
}

footer {
  background: aliceblue;
}
.grid {
  grid-template-rows: min-content 1fr min-content;
}
