<div class="container mx-auto flex-col">
  <h2 class="text-5xl text-gray-600 text-center">Welcome to knoledge block platform</h2>
  <p class="text-3xl text-gray-500 text-center" >Here you can learn and teach others!</p>

  <p class="text-2xl text-gray-700 text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consectetur cum debitis deleniti doloremque ex fuga fugit, harum iste necessitatibus, nobis odit omnis possimus praesentium quaerat, rem ullam? Consequuntur corporis, in quibusdam rem repellendus vitae.</p>

  <button mat-flat-button color="primary" class="!block !mx-auto " routerLink="/skills">Explore Blocks</button>

</div>
