<div class="login-container">
  <form *ngIf="!showSuccessMsg"  class="login-form">
    <h3 class="form-header">knBlock</h3>
    <p>Enter an email and we will send an email with recovery instructions.</p>
    <mat-form-field>
      <input [formControl]="email" type="email" matInput placeholder="email" >
    </mat-form-field>

    <div class="controls">
      <button type="button" [disabled]="!email" mat-flat-button color="primary" (click)="onRestore()">Restore</button>
      <a routerLinkActive="mat-primary" mat-button routerLink="/login">Return</a>
    </div>
  </form>
  <p *ngIf="showSuccessMsg">Email with instruction have been sent to your email ({{email.value}}).</p>
</div>
