<form class="create-skill-form">

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Skill title</mat-label>
    <input type="text" matInput [formControl]="title"
           placeholder="Title">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Skill description</mat-label>
    <input type="text" matInput [formControl]="description"
           placeholder="Description">
  </mat-form-field>

  <div class="form-controls">
    <button mat-stroked-button (click)="cancelCreate.emit()" >Cancel</button>
    <button mat-flat-button (click)="onSave()" [disabled]="!title.value || !description.value">Create</button>
  </div>
</form>
