<div class="signup-container">
  <form [formGroup]="form" class="signup-form">
    <h3 class="form-header">knBlock</h3>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input formControlName="email"  matInput type="email" required>
    </mat-form-field>

    <mat-form-field formGroupName="passwords">
      <mat-label>Password</mat-label>
      <input formControlName="password"  matInput type="password" required>
    </mat-form-field>
    <mat-form-field formGroupName="passwords">
      <mat-label>Confirm Password</mat-label>
      <input formControlName="confirmPassword"  matInput type="password" required>
    </mat-form-field>

    <hr/>

    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input formControlName="firstName" matInput type="text">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input formControlName="lastName" matInput type="text">
    </mat-form-field>

    <p *ngFor="let error of errors$ | async" class="error">{{error}}</p>

    <button mat-flat-button
            type="button"
            (click)="handleCreateUser()" color="primary"
            [disabled]="!form.valid || !form.touched"
            >Create
      account
    </button>
    <a routerLinkActive="mat-primary" mat-button routerLink="/login">Already have account? Log in</a>
  </form>
</div>
