<div class="login-container">
  <form [formGroup]="form" class="login-form">
    <h3 class="form-header">knBlock</h3>
    <mat-form-field>
      <input formControlName="email" type="email" matInput placeholder="email" >
    </mat-form-field>
    <mat-form-field>
      <input formControlName="password" type="password" matInput placeholder="Password">
    </mat-form-field>

    <p *ngFor="let error of errors$ | async" class="error">{{error}}</p>

    <div class="controls">
      <button type="button" [disabled]="!form.valid" mat-flat-button color="primary" (click)="onLogin()">Login</button>
      <a routerLinkActive="mat-primary" mat-button routerLink="/signup">Dont have account? Sign up</a>
      <a routerLinkActive="mat-primary" mat-button routerLink="/restore-password">Forgot password</a>
    </div>
  </form>
</div>
