<mat-card class="header-card">
  <header class="skill-head flex">
    <div [class]="'skill-image-placeholder mr-1.5 rounded-md'">
      <img class="skill-logo" src="https://www.svgrepo.com/show/148274/number-blocks-toys.svg" alt="skill logo"/>
    </div>
    <div class="skill-info-section grow">
      <p class="text-right">Last modified: {{lastModified}}</p>
      <mat-card-title>Here goes skill title</mat-card-title>
      <mat-card-content> <p class="skill-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, corporis culpa
        dolor facilis magnam nulla numquam possimus qui sed similique?</p></mat-card-content>
      <app-skill-head-status-bar></app-skill-head-status-bar>
    </div>
  </header>
</mat-card>
