

<div class="container m-auto">
  <mat-card *ngIf="(selectedSkill$ | async) as skill">
    <mat-card-title>
      {{skill.title}}
    </mat-card-title>
    <mat-card-subtitle>
      {{skill.shortDescription}}
    </mat-card-subtitle>
    <mat-card-content>
      {{skill.description}}
    </mat-card-content>
    <mat-card-footer>
      <span>{{skill.category}}</span>
      <span>rating 3.1</span>
      <span>Author</span>
    </mat-card-footer>
  </mat-card>


  <section>
    skill body
  </section>
</div>
